            .heroSection{
                background-image: url(https://wallpapers.com/images/featured/universe-qs811igzbabl1m0o.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
                background-size: cover;
                width: 100vw;
                height: 400px;
                position: relative;
            }
            .yes{
                position: absolute;
                background-color:  rgba(0, 0, 0, 0.5);
                width: 100vw;
                height: 400px;
            }
            .heroDescp{
                color: aliceblue;
                position: absolute;
                left: 37.5%;
                top: 37.5%;
            }
            button{
                font-weight: bold;
                color: aliceblue;
                background-color: rgb(96, 236, 96); 
                border: 0px; 
                border-radius: 5px;
                padding: 10px;
            }