            .testimonialSection{
                display: grid;
                grid-template-columns: repeat(3, 320px);
                grid-template-rows: repeat(1, 200px);
                justify-content: center;
                grid-gap: 15px;
                margin-bottom: 50px;              
            }
            .testimonialCard{
                border-radius: 5px;
                background-image: linear-gradient(to bottom, rgb(162, 128, 240), lightblue);
                overflow: hidden;
                padding: 10px;
            }
            @media screen and (max-width: 992px) and (min-width: 768px){
                .testimonialSection{
                    display: grid;
                    grid-template-columns: repeat(2, 320px);
                    grid-template-rows: repeat(2, 200px);
                    justify-content: center;
                    grid-gap: 15px;
                    margin-bottom: 50px;              
                }
            }
            @media screen and (max-width: 767px){
                .testimonialSection{
                    display: grid;
                    grid-template-columns: repeat(1, 320px);
                    grid-template-rows: repeat(3, 200px);
                    justify-content: center;
                    grid-gap: 15px;
                    margin-bottom: 50px;              
                }
            }